body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

article {
  border-radius: 10px;
  overflow: hidden;
  max-width: 700px;
  width: 100%;
}

/* article:hover {
    transform: scale(0.9);
} */

.mugshot {
  display: flex;
  border: 6px solid #316838;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mugshot img {
  height: 390px;
  width: 290px;
  filter: grayscale(100%);
}

.info {
  background-color: #6a896c;
  color: #ffffff;
  height: 350px;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info h1 {
  margin: 0;
  font-size: 2em;
}

.info h2 {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: normal;
}

.info h3 {
  margin-top: 20px;
  font-size: 1.2em;
}

.info ul {
  list-style-type: none;
  padding: 0;
}

.info li {
  margin-top: 5px;
  font-size: 1em;
}

#github {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

#github:hover {
  transform: scale(1.5);
}

#linkedin {
  height: 20px;
  width: 20px;
}

#linkedin:hover {
  transform: scale(1.5);
}

#darkbutton {
    background-color: #6a896c;
}
