body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex; /* Display: flex;
                    Als je deze property gebruikt maak van flexbox. Hiermee kun je de uitlijning en positie van elementen in die flexbox
                    verdelen op de pagina. Dit maakt de het element ook responsive https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox */
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

article {
  overflow: hidden;
  max-width: 700px;
  width: 100%;
  box-shadow: 0px 0px 15px 4px rgb(61, 61, 62);
}

.mugshot {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mugshot img {
  height: 390px;
  width: 290px;
  filter: grayscale(100%);
}

.mugshot img:hover {
  filter: none;
}

#info {
  background-image: linear-gradient(-40deg, #ddd72b, rgb(29, 64, 66));
  color: #ffffff;
  height: 350px;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Hiermee kun je de richting bepalen van de elementen in de flexbox.
                             dit kan horizontaal of verticaal zijn */
  justify-content: center;
}

#info h1 {
  margin: 0;
  font-size: 2em;
}

#info h2 {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: lighter;
}

#info h3 {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: lighter;
}

#info ul {
  list-style-type: none;
  padding: 0;
}

#info li {
  margin-top: 5px;
  font-size: 1em;
}

#github {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

#github:hover {
  transform: scale(1.5);
}

#linkedin {
  height: 20px;
  width: 20px;
}

#linkedin:hover {
  transform: scale(1.5);
}

.animatie {
  animation-duration: 5s;
  animation-name: animatie;
}

@keyframes animatie {
  from {
    translate: 100vw;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background-image: linear-gradient(-40deg, #ddd72b, rgb(29, 64, 66));
  color: rgb(79, 79, 79);
  border: none;
  border-radius: 5px; /* Hiermee kun je de radius van de hoeken van een border wijzigigen. je kunt de hoeken 
                         een ronding geven.  https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius */
}

.button button:hover {
  color: rgb(0, 0, 0);
}

.button button {
  animation-duration: 7s;
  animation-name: buttonswipe;
}

@keyframes buttonswipe {
  from {
    translate: 100vw;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Dark mode dingentjes */

.dark-mode {
  background-color: #000000;
}

.dark-mode article {
  box-shadow: 0px 0px 55px 2px rgba(255, 255, 255, 0.5);
}

.dark-mode #info {
  background-image: linear-gradient(-40deg, #202020, rgb(2, 2, 16));
  color: #6b6b6b;
}

.dark-mode img {
  filter: grayscale(100%) brightness(50%);
}

.dark-mode button {
  background-image: linear-gradient(-40deg, #272727, rgb(2, 2, 16));
}
.dark-mode button:hover {
  color: white;
}
